<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWzxv1LEvWej3obWMOGZpEg8co4AaOHF4</string>
	<key>GCM_SENDER_ID</key>
	<string>646901701952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tyamo</string>
	<key>PROJECT_ID</key>
	<string>tyamo-app-263ac</string>
	<key>STORAGE_BUCKET</key>
	<string>tyamo-app-263ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646901701952:ios:4f770b56d3438aed90aea5</string>
</dict>
</plist>